.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  padding: 5px 15px;
}

#jumbotron {
  font-family: "Cinzel", serif;
  font-size: 200%;
}
#title {
  font-family: "Cormorant Garamond", serif;
}

#info {
  font-family: "Josefin Slab", serif;
}

.Navbar {
  margin-top: 10px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
